@use 'sass:color';
@use '@material/theme/color-palette';

@use '../Settings.scss' as vars;

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: vars.$clr-accent1,
  $secondary: vars.$clr-light,
  $surface: vars.$clr-dark-lighter,
  $background: vars.$clr-light,
  $error: color-palette.$red-900,
);
