$mobile-width: 700px;

$clr-dark: #2d3142;
$clr-dark-darker: #212431;
$clr-dark-lighter: #3a3f55;
$clr-light: #ffffff;
$clr-sec: #4f5d75;
$clr-accent1: #02b6aa;
$clr-accent2: #ef8354;
$clr-checkmark: #5b8c5a;

$ff-primary: 'Chakra Petch', monospace;
$ff-mono: 'IBM Plex Mono', monospace;
$ff-pixel: 'TheGoodMonolith', monospace;

$header-height: 3em;